EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_HOST_USER=dev@example.com
EMAIL_HOST_PASSWORD=password

MYSQL_HOST=localhost
MYSQL_DATABASE=vulnerability_db
MYSQL_USER=root
MYSQL_PORT=3307
MYSQL_PASSWORD=root@123
